/*********************************************** POLICES ********************************************/

@font-face {
	font-family: 'robot';
	src: url(./assets/fonts/Roboto-Regular.ttf);
}

/*************************************************  *  **********************************************/

*{
    padding: 0;
    margin: 0;
    font-family: 'robot';
    color: black;
    text-decoration: none;
    transition: 0.5s;
    cursor: default;
}

body{
    background: url(./assets/img/bg.jpg) center/cover;
}

/************************************************ EN TETE *******************************************/

h1{
    text-transform: uppercase;
    padding: 20px;
}

h1:hover {
    color: white;
}

.sous-titre{
    text-align: right;
    margin: 15px;
}

.title{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 0;
    background: rgb(197, 0, 0);
    border-bottom: 3px solid black;
}

/****************************************************** MAIN ******************************************/

main{
    padding-top: 100px;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(202, 202, 202, 0.753);
}

/*****************************************************CONTACT***********************************/

.contact{
    background-color: rgba(0, 0, 0, 0.555);
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.contact h2 {
    color: white;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.contact a {
    display: flex;
    padding: 10px;
    margin: 5px auto;
    background: rgb(197, 0, 0);
    border-radius: 10px;
    justify-content: center;
    width: 50%;
}


.contact a:hover {
    background: rgb(119, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

p{
    margin: 20px;
}

/******************************************* DEBUG ***************************************************/

@media screen and (max-width: 669px){
    .contact{
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px){
    a{
        width: 70%;
    }
}

@media screen and (max-width: 410px){
    a{
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}